@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /*....................... Variables ............................*/
    --button-height: 50px;
    --button-width: 50px;


    --main-color: #03a9f4;
    --main-color-dark: #2a7da2;
    /* --additional-color:; */
    --color-white: #fff;
    --light-color: #f0f0f0;
    --background-color: lightblue;
    --background-aside-color: #003147;
    --main-text-color: #333;
    --main-text-color-dark: #003147;
    --additional-text-color: #848c90;
    --color-dark: #081921;
    --color-active-link: #068cca;
}

a {
    text-decoration: none;
    transition: all .3s ease-out;
}

p {
    color: var(--main-text-color);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: var(--color-white);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/*............................Left side...........................*/

.container .left_Side {
    position: relative;
    background: var(--background-aside-color);
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*..........................Profile photo..........................*/

.profileText .img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.................................................................*/

.profileText h2 {
    color: var(--color-white);
    font-size: 1, 5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1, 4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--main-color);
}

.contactInfo ul li span {
    color: var(--color-white);
    font-weight: 300;
}

.contactInfo a {
    color: var(--color-white);
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    font-weight: 500;
    color: var(--main-color);
}

.contactInfo.education h4:nth-child(2) {
    font-weight: 500;
    color: var(--color-white);
}

.contactInfo.education h4 {
    font-weight: 300;
    color: var(--color-white);
}

.contactInfo.languages .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: var(--color-dark);
    display: block;
    margin-top: 5px;
}

.contactInfo.languages .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--main-color);
}

/*...........................Right side..........................*/

.container .right_Side {
    position: relative;
    background: var(--color-white);
    padding: 30px;
}

.about {
    margin-bottom: 30px;
}

.about:last-child {
    margin-bottom: 0;
}

.about-text {
    text-align: justify;
}

/*.....................Video...............................*/

.about-video {
    margin-top: 5px;
    max-width: 220px;
}

.about-video-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-active-link);
}

.about-video-link:hover {
    color: var(--main-color);
}

.about-video-link:active {
    color: var(--main-color-dark);
}

.about-video-text {
    margin-right: 10px;
    font-size: 18px;
}

.fa-youtube-play {
    font-size: 45px;
    width: 20px;
}

/*......................................................*/

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.download {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.download:hover::before {
    content: "Download CV";
}

.download-button {
    width: 60px;
    height: 60px;
}

/* Projects */
.box-projects {
    display: flex;
    flex-direction: row;
    margin: 20px 0 5px;
    justify-content: space-between;
}

.name-project {
    color: var(--main-color);
    margin-right: 5px;
    text-transform: uppercase;
    min-width: 140px;
}

.tools-project {
    color: var(--additional-text-color);
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    min-width: 130px;
}

.text-project {
    font-weight: 500;
    font-size: 16px;
}

.link-project {
    color: var(--additional-text-color);
}


.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    color: var(--additional-text-color);
    text-transform: uppercase;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: var(--main-color-dark);
    font-size: 16px;
}
.position-text {
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
}
.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--light-color);
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--main-color);
}


/*....................... Interests ............................*/

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: var(--main-text-color);
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {
    color: var(--main-color);
    font-size: 18px;
    width: 20px;
}


/*....................... Scroll ............................*/


.scrollTop {
    position: fixed;
    right: 40px;
    bottom: 60px;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--main-color);
    opacity: 40%;
    text-align: center;
    border-radius: 10px;
}

.scrollTop__link {
    font-size: 30px;
    line-height: var(--button-height);
    color: var(--color-white);
    padding: 0px;
}

.scrollTop:active {
    background-color: var(--color-active-link);
}


/*.................... Media Queries ........................*/

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .download {
        position: absolute;
        right: 120px;
        bottom: 10px;
    }
}

@media (max-width: 600px) {
    .about .box,
    .box-projects {
        flex-direction: column;
    }

    .about .box .year_company,
    .name-project {
     
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .download {
        position: absolute;
        right: 120px;
        bottom: 10px;
    }
}